.search {
  margin: 1rem;
  text-align: center;
}
.search input {
  width: 80%;
  max-width: 300px;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
body.light-mode .search input {
  background: rgba(0, 0, 0, 0.05);
  color: #000;
}

.filter {
  margin: 1rem;
  text-align: center;
}
.filter select {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.948);
  color: #000;
}
body.light-mode .filter select {
  background: #d5d4d4;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  margin: 2rem 1rem;
}
.articles-grid a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.articles-grid article {
  background: rgba(20, 20, 30, 0.7);
  padding: 1rem;
  border-radius: 12px;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}
.articles-grid article:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
